openapi: 3.2.0
info:
  title: Adobe Campaign Standard Profiles API
  description: REST API for Adobe Campaign Standard enabling integration with marketing campaigns, profiles, workflows, and messaging services. Provides CRUD operations for profiles and services, workflow control, transactional messaging triggers, GDPR/CCPA privacy requests, marketing history access, and custom resource management.
  version: 1.0.0
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
  x-logo:
    url: https://www.adobe.com/content/dam/cc/icons/adobe-campaign.svg
servers:
- url: https://mc.adobe.io/{ORGANIZATION}/campaign
  description: Adobe Campaign Standard Production
  variables:
    ORGANIZATION:
      description: Your Adobe IMS Organization ID
      default: YOUR_ORG_ID
security:
- BearerAuth: []
  ApiKeyAuth: []
tags:
- name: Profiles
  description: Manage recipient profiles including creation, retrieval, update, and deletion of contact records.
paths:
  /profileAndServices/profile:
    get:
      operationId: listProfiles
      summary: Adobe Campaign List Profiles
      description: Retrieves a paginated list of recipient profiles. Supports filtering, sorting, and pagination through query parameters.
      tags:
      - Profiles
      parameters:
      - $ref: '#/components/parameters/LineCount'
      - $ref: '#/components/parameters/LineStart'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/ForcePagination'
      responses:
        '200':
          description: List of profiles retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProfileResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createProfile
      summary: Adobe Campaign Create a Profile
      description: Creates a new recipient profile with the provided attributes.
      tags:
      - Profiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileCreate'
      responses:
        '201':
          description: Profile created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /profileAndServices/profile/{PKEY}:
    get:
      operationId: getProfile
      summary: Adobe Campaign Get a Profile
      description: Retrieves a specific recipient profile by its PKEY identifier.
      tags:
      - Profiles
      parameters:
      - $ref: '#/components/parameters/PKEY'
      responses:
        '200':
          description: Profile retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateProfile
      summary: Adobe Campaign Update a Profile
      description: Partially updates a recipient profile with the provided attributes.
      tags:
      - Profiles
      parameters:
      - $ref: '#/components/parameters/PKEY'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdate'
      responses:
        '200':
          description: Profile updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteProfile
      summary: Adobe Campaign Delete a Profile
      description: Deletes a specific recipient profile by its PKEY identifier.
      tags:
      - Profiles
      parameters:
      - $ref: '#/components/parameters/PKEY'
      responses:
        '200':
          description: Profile deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions for the requested operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication failed. Invalid or expired OAuth token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    Order:
      name: _order
      in: query
      required: false
      description: Sort order. Use field name for ascending, append %20desc for descending (e.g., email%20desc).
      schema:
        type: string
    LineStart:
      name: _lineStart
      in: query
      required: false
      description: Pagination offset from the next node in previous response.
      schema:
        type: integer
    ForcePagination:
      name: _forcePagination
      in: query
      required: false
      description: Force pagination for tables with more than 100,000 records.
      schema:
        type: boolean
        default: false
    LineCount:
      name: _lineCount
      in: query
      required: false
      description: Number of records to return per page. Default is 25.
      schema:
        type: integer
        default: 25
    PKEY:
      name: PKEY
      in: path
      required: true
      description: The unique PKEY identifier of the resource.
      schema:
        type: string
  schemas:
    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
          description: Numeric error code.
          example: example_value
        message:
          type: string
          description: Human-readable error message.
          example: example_value
    Profile:
      type: object
      properties:
        PKey:
          type: string
          description: Unique identifier for the profile.
          readOnly: true
          example: example_value
        email:
          type: string
          format: email
          description: Email address of the profile.
          example: user@example.com
        firstName:
          type: string
          description: First name of the profile.
          example: Example Campaign
        lastName:
          type: string
          description: Last name of the profile.
          example: Example Campaign
        phone:
          type: string
          description: Phone number of the profile.
          example: example_value
        mobilePhone:
          type: string
          description: Mobile phone number.
          example: example_value
        birthDate:
          type: string
          format: date
          description: Date of birth.
          example: '2026-04-17T12:00:00Z'
        gender:
          type: string
          enum:
          - male
          - female
          - unknown
          description: Gender of the profile.
          example: male
        preferredLanguage:
          type: string
          description: Preferred language code.
          example: example_value
        blackList:
          type: boolean
          description: Whether the profile is on the deny list.
          example: true
        blackListEmail:
          type: boolean
          description: Whether email is blocked for this profile.
          example: true
        blackListMobile:
          type: boolean
          description: Whether SMS is blocked for this profile.
          example: true
        created:
          type: string
          format: date-time
          description: Profile creation timestamp.
          readOnly: true
          example: example_value
        lastModified:
          type: string
          format: date-time
          description: Last modification timestamp.
          readOnly: true
          example: example_value
        subscriptions:
          type: object
          description: Link to the profile subscriptions.
          readOnly: true
          properties:
            href:
              type: string
    ProfileUpdate:
      type: object
      properties:
        email:
          type: string
          format: email
          example: user@example.com
        firstName:
          type: string
          example: Example Campaign
        lastName:
          type: string
          example: Example Campaign
        phone:
          type: string
          example: example_value
        mobilePhone:
          type: string
          example: example_value
        birthDate:
          type: string
          format: date
          example: '2026-04-17T12:00:00Z'
        gender:
          type: string
          enum:
          - male
          - female
          - unknown
          example: male
        preferredLanguage:
          type: string
          example: example_value
        blackList:
          type: boolean
          example: true
        blackListEmail:
          type: boolean
          example: true
        blackListMobile:
          type: boolean
          example: true
    PaginatedProfileResponse:
      allOf:
      - $ref: '#/components/schemas/PaginatedResponse'
      - type: object
        properties:
          content:
            type: array
            items:
              $ref: '#/components/schemas/Profile'
    ProfileCreate:
      type: object
      required:
      - email
      properties:
        email:
          type: string
          format: email
          description: Email address for the new profile.
          example: user@example.com
        firstName:
          type: string
          example: Example Campaign
        lastName:
          type: string
          example: Example Campaign
        phone:
          type: string
          example: example_value
        mobilePhone:
          type: string
          example: example_value
        birthDate:
          type: string
          format: date
          example: '2026-04-17T12:00:00Z'
        gender:
          type: string
          enum:
          - male
          - female
          - unknown
          example: male
        preferredLanguage:
          type: string
          example: example_value
    PaginatedResponse:
      type: object
      properties:
        content:
          type: array
          items:
            type: object
        count:
          type: object
          properties:
            href:
              type: string
              description: URL to get the total count.
        next:
          type: object
          properties:
            href:
              type: string
              description: URL for the next page of results.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth Server-to-Server access token obtained from Adobe IMS at https://ims-na1.adobelogin.com/ims/token/v3
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Your Adobe Developer Console API Key (Client ID).
externalDocs:
  description: Adobe Campaign Standard API Documentation
  url: https://experienceleague.adobe.com/docs/campaign-standard/using/working-with-apis/get-started-apis.html
