openapi: 3.2.0
info:
  title: Adobe Campaign Standard Custom Resources API
  description: REST API for Adobe Campaign Standard enabling integration with marketing campaigns, profiles, workflows, and messaging services. Provides CRUD operations for profiles and services, workflow control, transactional messaging triggers, GDPR/CCPA privacy requests, marketing history access, and custom resource management.
  version: 1.0.0
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
  x-logo:
    url: https://www.adobe.com/content/dam/cc/icons/adobe-campaign.svg
servers:
- url: https://mc.adobe.io/{ORGANIZATION}/campaign
  description: Adobe Campaign Standard Production
  variables:
    ORGANIZATION:
      description: Your Adobe IMS Organization ID
      default: YOUR_ORG_ID
security:
- BearerAuth: []
  ApiKeyAuth: []
tags:
- name: Custom Resources
  description: Access custom resources defined in Campaign Standard, both profile-linked and standalone.
paths:
  /profileAndServicesExt/{cusResourceName}:
    get:
      operationId: listProfileLinkedCustomResources
      summary: Adobe Campaign List Profile-linked Custom Resources
      description: Retrieves records from a profile-linked custom resource. Custom resources are defined with the cus prefix in Campaign Standard.
      tags:
      - Custom Resources
      parameters:
      - name: cusResourceName
        in: path
        required: true
        description: The name of the custom resource (with cus prefix, e.g., cusMyResource).
        schema:
          type: string
        example: Example Campaign
      - $ref: '#/components/parameters/LineCount'
      - $ref: '#/components/parameters/LineStart'
      - $ref: '#/components/parameters/Order'
      responses:
        '200':
          description: Custom resource records retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /customResources/{cusResourceName}:
    get:
      operationId: listCustomResources
      summary: Adobe Campaign List Non-profile Custom Resources
      description: Retrieves records from a standalone custom resource not linked to profiles.
      tags:
      - Custom Resources
      parameters:
      - name: cusResourceName
        in: path
        required: true
        description: The name of the custom resource.
        schema:
          type: string
        example: Example Campaign
      - $ref: '#/components/parameters/LineCount'
      - $ref: '#/components/parameters/LineStart'
      - $ref: '#/components/parameters/Order'
      responses:
        '200':
          description: Custom resource records retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication failed. Invalid or expired OAuth token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    Order:
      name: _order
      in: query
      required: false
      description: Sort order. Use field name for ascending, append %20desc for descending (e.g., email%20desc).
      schema:
        type: string
    LineStart:
      name: _lineStart
      in: query
      required: false
      description: Pagination offset from the next node in previous response.
      schema:
        type: integer
    LineCount:
      name: _lineCount
      in: query
      required: false
      description: Number of records to return per page. Default is 25.
      schema:
        type: integer
        default: 25
  schemas:
    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
          description: Numeric error code.
          example: example_value
        message:
          type: string
          description: Human-readable error message.
          example: example_value
    PaginatedResponse:
      type: object
      properties:
        content:
          type: array
          items:
            type: object
        count:
          type: object
          properties:
            href:
              type: string
              description: URL to get the total count.
        next:
          type: object
          properties:
            href:
              type: string
              description: URL for the next page of results.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth Server-to-Server access token obtained from Adobe IMS at https://ims-na1.adobelogin.com/ims/token/v3
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Your Adobe Developer Console API Key (Client ID).
externalDocs:
  description: Adobe Campaign Standard API Documentation
  url: https://experienceleague.adobe.com/docs/campaign-standard/using/working-with-apis/get-started-apis.html
