openapi: 3.2.0
info:
  title: Adobe Campaign Standard Workflows API
  description: REST API for Adobe Campaign Standard enabling integration with marketing campaigns, profiles, workflows, and messaging services. Provides CRUD operations for profiles and services, workflow control, transactional messaging triggers, GDPR/CCPA privacy requests, marketing history access, and custom resource management.
  version: 1.0.0
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
  x-logo:
    url: https://www.adobe.com/content/dam/cc/icons/adobe-campaign.svg
servers:
- url: https://mc.adobe.io/{ORGANIZATION}/campaign
  description: Adobe Campaign Standard Production
  variables:
    ORGANIZATION:
      description: Your Adobe IMS Organization ID
      default: YOUR_ORG_ID
security:
- BearerAuth: []
  ApiKeyAuth: []
tags:
- name: Workflows
  description: Control workflow execution including starting, pausing, resuming, and stopping marketing workflows.
paths:
  /workflow/execution/{workflowID}/commands:
    post:
      operationId: controlWorkflow
      summary: Adobe Campaign Control a Workflow
      description: Sends a control command to a workflow. Supported commands are start, pause, resume, and stop. Commands are executed asynchronously.
      tags:
      - Workflows
      parameters:
      - name: workflowID
        in: path
        required: true
        description: The ID of the workflow to control.
        schema:
          type: string
        example: CAM123456
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowCommand'
      responses:
        '200':
          description: Workflow command accepted successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication failed. Invalid or expired OAuth token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
          description: Numeric error code.
          example: example_value
        message:
          type: string
          description: Human-readable error message.
          example: example_value
    WorkflowCommand:
      type: object
      required:
      - method
      properties:
        method:
          type: string
          enum:
          - start
          - pause
          - resume
          - stop
          description: The workflow control command to execute.
          example: start
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth Server-to-Server access token obtained from Adobe IMS at https://ims-na1.adobelogin.com/ims/token/v3
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Your Adobe Developer Console API Key (Client ID).
externalDocs:
  description: Adobe Campaign Standard API Documentation
  url: https://experienceleague.adobe.com/docs/campaign-standard/using/working-with-apis/get-started-apis.html
