openapi: 3.2.0
info:
  title: Adobe Campaign Standard Marketing History API
  description: REST API for Adobe Campaign Standard enabling integration with marketing campaigns, profiles, workflows, and messaging services. Provides CRUD operations for profiles and services, workflow control, transactional messaging triggers, GDPR/CCPA privacy requests, marketing history access, and custom resource management.
  version: 1.0.0
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
  x-logo:
    url: https://www.adobe.com/content/dam/cc/icons/adobe-campaign.svg
servers:
- url: https://mc.adobe.io/{ORGANIZATION}/campaign
  description: Adobe Campaign Standard Production
  variables:
    ORGANIZATION:
      description: Your Adobe IMS Organization ID
      default: YOUR_ORG_ID
security:
- BearerAuth: []
  ApiKeyAuth: []
tags:
- name: Marketing History
  description: Retrieve marketing event history for profiles including delivery logs and mirror page links.
paths:
  /profileAndServices/history/{PKEY}:
    get:
      operationId: getMarketingHistory
      summary: Adobe Campaign Get Marketing History for a Profile
      description: Retrieves the marketing event history for a specific profile, including delivery logs and mirror page links.
      tags:
      - Marketing History
      parameters:
      - $ref: '#/components/parameters/PKEY'
      responses:
        '200':
          description: Marketing history retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketingHistory'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication failed. Invalid or expired OAuth token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
          description: Numeric error code.
          example: example_value
        message:
          type: string
          description: Human-readable error message.
          example: example_value
    MarketingHistory:
      type: object
      properties:
        PKey:
          type: string
          description: Profile PKEY.
          example: example_value
        events:
          type: array
          items:
            type: object
            properties:
              eventDate:
                type: string
                format: date-time
                description: Date of the marketing event.
              channel:
                type: string
                description: Channel of the delivery (email, sms, push).
              deliveryLabel:
                type: string
                description: Label of the delivery.
              mirrorPage:
                type: object
                properties:
                  href:
                    type: string
                    format: uri
                    description: Link to the mirror page.
  parameters:
    PKEY:
      name: PKEY
      in: path
      required: true
      description: The unique PKEY identifier of the resource.
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth Server-to-Server access token obtained from Adobe IMS at https://ims-na1.adobelogin.com/ims/token/v3
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Your Adobe Developer Console API Key (Client ID).
externalDocs:
  description: Adobe Campaign Standard API Documentation
  url: https://experienceleague.adobe.com/docs/campaign-standard/using/working-with-apis/get-started-apis.html
