openapi: 3.2.0
info:
  title: Adobe Campaign Standard Privacy API
  description: REST API for Adobe Campaign Standard enabling integration with marketing campaigns, profiles, workflows, and messaging services. Provides CRUD operations for profiles and services, workflow control, transactional messaging triggers, GDPR/CCPA privacy requests, marketing history access, and custom resource management.
  version: 1.0.0
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
  x-logo:
    url: https://www.adobe.com/content/dam/cc/icons/adobe-campaign.svg
servers:
- url: https://mc.adobe.io/{ORGANIZATION}/campaign
  description: Adobe Campaign Standard Production
  variables:
    ORGANIZATION:
      description: Your Adobe IMS Organization ID
      default: YOUR_ORG_ID
security:
- BearerAuth: []
  ApiKeyAuth: []
tags:
- name: Privacy
  description: Create GDPR and CCPA privacy access and deletion requests for data subject compliance.
paths:
  /privacy/privacyTool:
    post:
      operationId: createPrivacyRequest
      summary: Adobe Campaign Create a Privacy Request
      description: Creates a GDPR or CCPA privacy request for data access or deletion. Supports both access requests (retrieve all data for a data subject) and delete requests (remove all data for a data subject).
      tags:
      - Privacy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivacyRequest'
      responses:
        '201':
          description: Privacy request created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivacyRequestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication failed. Invalid or expired OAuth token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
          description: Numeric error code.
          example: example_value
        message:
          type: string
          description: Human-readable error message.
          example: example_value
    PrivacyRequest:
      type: object
      required:
      - name
      - namespaceName
      - reconciliationValue
      - regulation
      - type
      properties:
        name:
          type: string
          description: Name identifying the privacy request.
          example: Example Campaign
        namespaceName:
          type: string
          description: The namespace name used to identify the data subject (e.g., email, phone).
          example: Example Campaign
        reconciliationValue:
          type: string
          description: The value used to look up the data subject in the specified namespace (e.g., the email address).
          example: example_value
        regulation:
          type: string
          enum:
          - gdpr
          - ccpa
          description: The privacy regulation for the request.
          example: gdpr
        type:
          type: string
          enum:
          - access
          - delete
          description: Whether to access or delete the data subject data.
          example: access
    PrivacyRequestResponse:
      type: object
      properties:
        PKey:
          type: string
          description: The PKEY of the created privacy request.
          example: example_value
        status:
          type: string
          description: Current status of the privacy request.
          example: active
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth Server-to-Server access token obtained from Adobe IMS at https://ims-na1.adobelogin.com/ims/token/v3
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Your Adobe Developer Console API Key (Client ID).
externalDocs:
  description: Adobe Campaign Standard API Documentation
  url: https://experienceleague.adobe.com/docs/campaign-standard/using/working-with-apis/get-started-apis.html
