openapi: 3.2.0
info:
  title: Adobe Campaign Standard Transactional Messages API
  description: REST API for Adobe Campaign Standard enabling integration with marketing campaigns, profiles, workflows, and messaging services. Provides CRUD operations for profiles and services, workflow control, transactional messaging triggers, GDPR/CCPA privacy requests, marketing history access, and custom resource management.
  version: 1.0.0
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
  x-logo:
    url: https://www.adobe.com/content/dam/cc/icons/adobe-campaign.svg
servers:
- url: https://mc.adobe.io/{ORGANIZATION}/campaign
  description: Adobe Campaign Standard Production
  variables:
    ORGANIZATION:
      description: Your Adobe IMS Organization ID
      default: YOUR_ORG_ID
security:
- BearerAuth: []
  ApiKeyAuth: []
tags:
- name: Transactional Messages
  description: Trigger and monitor transactional messages across email, SMS, and push notification channels.
paths:
  /{transactionalAPI}/{eventID}:
    post:
      operationId: triggerTransactionalEvent
      summary: Adobe Campaign Trigger a Transactional Event
      description: Sends a transactional event to trigger a personalized message. The transactionalAPI path segment corresponds to the event configuration name. Events are processed asynchronously and support email, SMS, and push notification channels.
      tags:
      - Transactional Messages
      parameters:
      - name: transactionalAPI
        in: path
        required: true
        description: The transactional API name corresponding to the event configuration (e.g., EVTorderConfirmation).
        schema:
          type: string
        example: example_value
      - name: eventID
        in: path
        required: true
        description: The unique event type identifier.
        schema:
          type: string
        example: CAM123456
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionalEvent'
      responses:
        '200':
          description: Transactional event accepted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionalEventResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    get:
      operationId: getTransactionalEventStatus
      summary: Adobe Campaign Get Transactional Event Status
      description: Retrieves the current processing status of a previously triggered transactional event. Statuses include pending, processing, processed, deliveryFailed, routingFailed, targetingFailed, tooOld, and ignored.
      tags:
      - Transactional Messages
      parameters:
      - name: transactionalAPI
        in: path
        required: true
        description: The transactional API name.
        schema:
          type: string
        example: example_value
      - name: eventID
        in: path
        required: true
        description: The unique event type identifier.
        schema:
          type: string
        example: CAM123456
      responses:
        '200':
          description: Event status retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionalEventStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication failed. Invalid or expired OAuth token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
          description: Numeric error code.
          example: example_value
        message:
          type: string
          description: Human-readable error message.
          example: example_value
    TransactionalEventResponse:
      type: object
      properties:
        PKey:
          type: string
          description: The PKEY of the created event.
          example: example_value
        eventId:
          type: string
          description: Unique identifier of the event.
          example: CAM123456
        status:
          type: string
          enum:
          - pending
          description: Initial status of the event.
          example: pending
    TransactionalEventStatus:
      type: object
      properties:
        PKey:
          type: string
          description: The PKEY of the event.
          example: example_value
        eventId:
          type: string
          description: Unique identifier of the event.
          example: CAM123456
        status:
          type: string
          enum:
          - pending
          - processing
          - paused
          - processed
          - ignored
          - deliveryFailed
          - routingFailed
          - targetingFailed
          - tooOld
          description: Current processing status of the event.
          example: pending
        reason:
          type: string
          description: Failure reason if the event was not processed.
          example: example_value
    TransactionalEvent:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Recipient email address (for email channel).
          example: user@example.com
        mobilePhone:
          type: string
          description: Recipient mobile phone (for SMS channel).
          example: example_value
        pushPlatform:
          type: string
          enum:
          - apns
          - gcm
          description: Push platform (Apple or Google).
          example: apns
        ctx:
          type: object
          description: Context data for message personalization. Contains dynamic fields matching the transactional message template.
          additionalProperties: true
        scheduled:
          type: string
          format: date-time
          description: Optional scheduled send time.
          example: example_value
        expiration:
          type: string
          format: date-time
          description: Optional event expiration time.
          example: example_value
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth Server-to-Server access token obtained from Adobe IMS at https://ims-na1.adobelogin.com/ims/token/v3
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Your Adobe Developer Console API Key (Client ID).
externalDocs:
  description: Adobe Campaign Standard API Documentation
  url: https://experienceleague.adobe.com/docs/campaign-standard/using/working-with-apis/get-started-apis.html
