openapi: 3.2.0
info:
  title: Adobe Campaign Standard Metadata API
  description: REST API for Adobe Campaign Standard enabling integration with marketing campaigns, profiles, workflows, and messaging services. Provides CRUD operations for profiles and services, workflow control, transactional messaging triggers, GDPR/CCPA privacy requests, marketing history access, and custom resource management.
  version: 1.0.0
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
  x-logo:
    url: https://www.adobe.com/content/dam/cc/icons/adobe-campaign.svg
servers:
- url: https://mc.adobe.io/{ORGANIZATION}/campaign
  description: Adobe Campaign Standard Production
  variables:
    ORGANIZATION:
      description: Your Adobe IMS Organization ID
      default: YOUR_ORG_ID
security:
- BearerAuth: []
  ApiKeyAuth: []
tags:
- name: Metadata
  description: Discover resource schemas, fields, filters, and data policies for Campaign Standard resources.
paths:
  /profileAndServices/resourceType/{resourceName}:
    get:
      operationId: getResourceMetadata
      summary: Adobe Campaign Get Resource Metadata
      description: Retrieves metadata for a Campaign Standard resource, including field definitions, data types, available filters, and data policies.
      tags:
      - Metadata
      parameters:
      - name: resourceName
        in: path
        required: true
        description: The name of the resource to describe.
        schema:
          type: string
        example: Example Campaign
      responses:
        '200':
          description: Resource metadata retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceMetadata'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication failed. Invalid or expired OAuth token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
          description: Numeric error code.
          example: example_value
        message:
          type: string
          description: Human-readable error message.
          example: example_value
    ResourceMetadata:
      type: object
      properties:
        name:
          type: string
          description: The resource name.
          example: Example Campaign
        fields:
          type: array
          description: List of fields in the resource.
          items:
            type: object
            properties:
              name:
                type: string
                description: Field name.
              type:
                type: string
                description: Data type of the field.
              label:
                type: string
                description: Display label of the field.
        filters:
          type: array
          description: Available filters for the resource.
          items:
            type: object
            properties:
              name:
                type: string
              parameters:
                type: array
                items:
                  type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth Server-to-Server access token obtained from Adobe IMS at https://ims-na1.adobelogin.com/ims/token/v3
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Your Adobe Developer Console API Key (Client ID).
externalDocs:
  description: Adobe Campaign Standard API Documentation
  url: https://experienceleague.adobe.com/docs/campaign-standard/using/working-with-apis/get-started-apis.html
