openapi: 3.2.0
info:
  title: Adobe Campaign Standard Subscriptions API
  description: REST API for Adobe Campaign Standard enabling integration with marketing campaigns, profiles, workflows, and messaging services. Provides CRUD operations for profiles and services, workflow control, transactional messaging triggers, GDPR/CCPA privacy requests, marketing history access, and custom resource management.
  version: 1.0.0
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
  x-logo:
    url: https://www.adobe.com/content/dam/cc/icons/adobe-campaign.svg
servers:
- url: https://mc.adobe.io/{ORGANIZATION}/campaign
  description: Adobe Campaign Standard Production
  variables:
    ORGANIZATION:
      description: Your Adobe IMS Organization ID
      default: YOUR_ORG_ID
security:
- BearerAuth: []
  ApiKeyAuth: []
tags:
- name: Subscriptions
  description: Subscribe and unsubscribe profiles to and from services.
paths:
  /profileAndServices/profile/{PKEY}/subscriptions:
    post:
      operationId: subscribeProfile
      summary: Adobe Campaign Subscribe a Profile to a Service
      description: Subscribes a profile to a subscription service by providing the service PKEY in the request body.
      tags:
      - Subscriptions
      parameters:
      - $ref: '#/components/parameters/PKEY'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
      responses:
        '201':
          description: Profile subscribed successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /profileAndServices/service/{servicePKEY}/subscriptions/{profilePKEY}:
    delete:
      operationId: unsubscribeProfile
      summary: Adobe Campaign Unsubscribe a Profile from a Service
      description: Removes a profile subscription from a service.
      tags:
      - Subscriptions
      parameters:
      - name: servicePKEY
        in: path
        required: true
        description: The PKEY of the service.
        schema:
          type: string
        example: example_value
      - name: profilePKEY
        in: path
        required: true
        description: The PKEY of the profile to unsubscribe.
        schema:
          type: string
        example: example_value
      responses:
        '200':
          description: Profile unsubscribed successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication failed. Invalid or expired OAuth token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
          description: Numeric error code.
          example: example_value
        message:
          type: string
          description: Human-readable error message.
          example: example_value
    SubscriptionRequest:
      type: object
      required:
      - service
      properties:
        service:
          type: object
          properties:
            PKey:
              type: string
              description: The PKEY of the service to subscribe to.
  parameters:
    PKEY:
      name: PKEY
      in: path
      required: true
      description: The unique PKEY identifier of the resource.
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth Server-to-Server access token obtained from Adobe IMS at https://ims-na1.adobelogin.com/ims/token/v3
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Your Adobe Developer Console API Key (Client ID).
externalDocs:
  description: Adobe Campaign Standard API Documentation
  url: https://experienceleague.adobe.com/docs/campaign-standard/using/working-with-apis/get-started-apis.html
