openapi: 3.2.0
info:
  title: Adobe Campaign Standard Profile And Services API
  description: REST API for Adobe Campaign Standard enabling integration with marketing campaigns, profiles, workflows, and messaging services. Provides CRUD operations for profiles and services, workflow control, transactional messaging triggers, GDPR/CCPA privacy requests, marketing history access, and custom resource management.
  version: 1.0.0
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
  x-logo:
    url: https://www.adobe.com/content/dam/cc/icons/adobe-campaign.svg
servers:
- url: https://mc.adobe.io/{ORGANIZATION}/campaign
  description: Adobe Campaign Standard Production
  variables:
    ORGANIZATION:
      description: Your Adobe IMS Organization ID
      default: YOUR_ORG_ID
security:
- BearerAuth: []
  ApiKeyAuth: []
tags:
- name: ProfileAndServices
paths:
  /profileAndServices/service:
    get:
      operationId: listServices
      summary: Adobe Campaign List Services
      description: Retrieves a paginated list of subscription services.
      tags:
      - ProfileAndServices
      parameters:
      - $ref: '#/components/parameters/LineCount'
      - $ref: '#/components/parameters/LineStart'
      - $ref: '#/components/parameters/Order'
      responses:
        '200':
          description: List of services retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedServiceResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createService
      summary: Adobe Campaign Create a Service
      description: Creates a new subscription service.
      tags:
      - ProfileAndServices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceCreate'
      responses:
        '201':
          description: Service created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /profileAndServices/service/{PKEY}:
    get:
      operationId: getService
      summary: Adobe Campaign Get a Service
      description: Retrieves a specific subscription service by its PKEY identifier.
      tags:
      - ProfileAndServices
      parameters:
      - $ref: '#/components/parameters/PKEY'
      responses:
        '200':
          description: Service retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      operationId: updateService
      summary: Adobe Campaign Update a Service
      description: Partially updates a subscription service with the provided attributes.
      tags:
      - ProfileAndServices
      parameters:
      - $ref: '#/components/parameters/PKEY'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceUpdate'
      responses:
        '200':
          description: Service updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteService
      summary: Adobe Campaign Delete a Service
      description: Deletes a specific subscription service by its PKEY identifier.
      tags:
      - ProfileAndServices
      parameters:
      - $ref: '#/components/parameters/PKEY'
      responses:
        '200':
          description: Service deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication failed. Invalid or expired OAuth token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    Order:
      name: _order
      in: query
      required: false
      description: Sort order. Use field name for ascending, append %20desc for descending (e.g., email%20desc).
      schema:
        type: string
    LineStart:
      name: _lineStart
      in: query
      required: false
      description: Pagination offset from the next node in previous response.
      schema:
        type: integer
    LineCount:
      name: _lineCount
      in: query
      required: false
      description: Number of records to return per page. Default is 25.
      schema:
        type: integer
        default: 25
    PKEY:
      name: PKEY
      in: path
      required: true
      description: The unique PKEY identifier of the resource.
      schema:
        type: string
  schemas:
    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
          description: Numeric error code.
          example: example_value
        message:
          type: string
          description: Human-readable error message.
          example: example_value
    PaginatedServiceResponse:
      allOf:
      - $ref: '#/components/schemas/PaginatedResponse'
      - type: object
        properties:
          content:
            type: array
            items:
              $ref: '#/components/schemas/Service'
    ServiceUpdate:
      type: object
      properties:
        label:
          type: string
          example: Example Campaign
        messageType:
          type: string
          enum:
          - email
          - sms
          - push
          example: email
        start:
          type: string
          format: date-time
          example: example_value
        end:
          type: string
          format: date-time
          example: example_value
    Service:
      type: object
      properties:
        PKey:
          type: string
          description: Unique identifier for the service.
          readOnly: true
          example: example_value
        name:
          type: string
          description: Internal name of the service.
          example: Example Campaign
        label:
          type: string
          description: Display label of the service.
          example: Example Campaign
        messageType:
          type: string
          enum:
          - email
          - sms
          - push
          description: Default channel for the service.
          example: email
        start:
          type: string
          format: date-time
          description: Service start date.
          example: example_value
        end:
          type: string
          format: date-time
          description: Service end date.
          example: example_value
        created:
          type: string
          format: date-time
          readOnly: true
          example: example_value
        lastModified:
          type: string
          format: date-time
          readOnly: true
          example: example_value
    PaginatedResponse:
      type: object
      properties:
        content:
          type: array
          items:
            type: object
        count:
          type: object
          properties:
            href:
              type: string
              description: URL to get the total count.
        next:
          type: object
          properties:
            href:
              type: string
              description: URL for the next page of results.
    ServiceCreate:
      type: object
      required:
      - label
      properties:
        name:
          type: string
          example: Example Campaign
        label:
          type: string
          example: Example Campaign
        messageType:
          type: string
          enum:
          - email
          - sms
          - push
          example: email
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth Server-to-Server access token obtained from Adobe IMS at https://ims-na1.adobelogin.com/ims/token/v3
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Your Adobe Developer Console API Key (Client ID).
externalDocs:
  description: Adobe Campaign Standard API Documentation
  url: https://experienceleague.adobe.com/docs/campaign-standard/using/working-with-apis/get-started-apis.html
